#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

/* Paralax Mobile Styles */
.paralax-cards {
  width: 6rem; /* w-24 */
  height: 3.5rem; /* h-14 */
  background-color: rgba(255, 255, 255, 0.7); /* bg-white/70 */
  border-radius: 20px; /* rounded-[20px] */
  backdrop-filter: blur(2px); /* backdrop-blur-[2px] */
}

.paralax-profile {
  width: 1rem; /* w-4 */
  height: 1rem; /* h-4 */
  border-radius: 50%; /* rounded-full */
}

.paralax-graph {
  background: linear-gradient(
    to bottom,
    #0891b2,
    #164e63
  ); /* bg-gradient-to-b from-cyan-600 to-cyan-900 */
}
